<%- include('../layout/head', {title: title}); %>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <%- include('../layout/sidebar'); %>

          <!-- / Menu -->

          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->

            <%- include ('../layout/navbar'); %>

              <!-- / Navbar -->

              <!-- Content wrapper -->
              <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                  <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4> -->

                  <div class="row">
                    <div class="col-md-12">
                      <ul class="nav nav-pills flex-column flex-md-row mb-3">
                        <li class="nav-item">
                          <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>
                            Kịch Bản</a>
                        </li>

                      </ul>
                      <div class="card mb-4">
                        <h5 class="card-header">Dữ Liệu Kịch Bản</h5>
                        <!-- Account -->

                        <hr class="my-0" />
                        <div class="card-body">
                          <form id="formAccountSettings" method="POST" action="/admin/story/create">
                            <div class="row">
                              <div class="mb-3 col-md-6">
                                <label for="name" class="form-label">Tên</label>
                                <input class="form-control" type="text" required id="name" name="name" value=""
                                  autofocus />
                              </div>
                              <div class="mb-3 col-md-6">
                                <label for="description" class="form-label">Mô Tả</label>
                                <input class="form-control" type="text" required name="description" id="description"
                                  value="" />
                              </div>
                              <div class="mb-3 col-md-6">
                                <label class="form-label" for="intent">Câu Hỏi</label>
                                <select id="intent" name="intent" class="select2 form-select">
                                  <% for( let intent of intents ) { %>
                                    <option value="<%= intent?.id %>">
                                      <%= intent?.name + " : " + intent?.slug %>
                                    </option>
                                    <% } %>
                                </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                <label class="form-label" for="utter">Câu Trả Lời</label>
                                <select id="utter" name="utter" class="select2 form-select">
                                  <% for( let utter of utters ) { %>
                                    <option value="<%= utter?.id %>">
                                      <%= utter?.name + " : " + utter?.slug %>
                                    </option>
                                    <% } %>
                                </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                <label class="form-label" for="intent">Dữ Liệu Câu Hỏi</label>
                                <textarea name="" id="dataintent" disabled class="form-control" cols="30"
                                  rows="10"></textarea>
                              </div>
                              <div class="mb-3 col-md-6">
                                <label class="form-label" for="utter">Dữ Liệu Câu Trả Lời</label>
                                <textarea name="" id="datautter" disabled class="form-control" cols="30"
                                  rows="10"></textarea>
                              </div>


                            </div>

                            <div class="mt-2">
                              <button type="submit" class="btn btn-primary me-2">Lưu Thay Đổi</button>
                              <button type="reset" class="btn btn-outline-secondary">Reset</button>
                            </div>
                          </form>
                        </div>
                        <!-- /Account -->
                      </div>

                    </div>
                  </div>
                </div>
                <!-- / Content -->



                <!-- Footer -->
                <%- include('../layout/footer'); %>
                  <%- include('../layout/script'); %>
                    <script>
                      $(document).ready(function () {
                        $('#utter').val(0)
                        $('#utter').change(function () {
                          // console.log($(this).val());
                          $.ajax({
                            type: "GET",
                            url: "/admin/utter/getData/" + $(this).val(),
                            success: function (result) {
                              $("#datautter").val(result.map(item => item.content).join("\n"));
                            }
                          });
                        })
                        $('#intent').change(function () {
                          // console.log($(this).val());
                          $.ajax({
                            type: "GET",
                            url: "/admin/intent/getData/" + $(this).val(),
                            success: function (result) {

                              $("#dataintent").val(result.map(item => item.content).join("\n"));
                            }
                          });
                        })
                      })
                    </script>