<%- include('layout/head', {title: title}); %>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <%- include('layout/sidebar'); %>

          <!-- / Menu -->

          <!-- Layout container -->
          <div class="layout-page">
            <!-- Navbar -->

            <%- include ('layout/navbar'); %>

              <!-- / Navbar -->

              <!-- Content wrapper -->
              <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                  <div class="row">
                    <div class="col-lg-8 mb-4 order-0">
                      <div class="card">
                        <div class="d-flex align-items-end row">
                          <div class="col-sm-7">
                            <div class="card-body">
                              <h5 class="card-title text-primary">Chào Mừng Bạn Trở Lại <%=Login?.fullname%> ! 🎉</h5>
                              <p class="mb-4">
                                Chúc bạn một ngày tốt lành
                              </p>

                            </div>
                          </div>
                          <div class="col-sm-5 text-center text-sm-left">
                            <div class="card-body pb-0 px-0 px-md-4">
                              <img src="/static/admin/img/illustrations/man-with-laptop-light.png" height="140"
                                alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                data-app-light-img="illustrations/man-with-laptop-light.png" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 order-1">
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/static/admin/img/icons/unicons/chart-success.png" alt="chart success"
                                    class="rounded" />
                                </div>

                              </div>
                              <span class="fw-semibold d-block mb-1">Câu Hỏi</span>
                              <h3 class="card-title mb-2">
                                <%= countIntent %> loại
                              </h3>
                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>
                                <%= countdataIntent %> câu
                              </small>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/static/admin/img/icons/unicons/chart-success.png" alt="chart success"
                                    class="rounded" />
                                </div>

                              </div>
                              <span class="fw-semibold d-block mb-1">Câu Trả Lời</span>
                              <h3 class="card-title mb-2">
                                <%= countUtter %> loại
                              </h3>
                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>
                                <%= countdataUtter %> câu
                              </small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Total Revenue -->
                    <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                      <!-- <div class="col-md-6 col-lg-4 order-1 mb-4"> -->
                      <div class="card h-100">
                        <div class="card-header">
                          <ul class="nav nav-pills" role="tablist">

                            <li class="nav-item">
                              <button type="button" class="nav-link" role="tab">Thống Kê Sử Dụng</button>
                            </li>
                          </ul>
                        </div>
                        <div class="card-body px-0">
                          <div class="tab-content p-0">
                            <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">

                              <div id="incomeChart"></div>
                              <div class="d-flex justify-content-center pt-4 gap-2">
                                <div class="flex-shrink-0">
                                  <div id="expensesOfWeek"></div>
                                </div>
                                <div>
                                  <p class="mb-n1 mt-1">Số Lượng Người Truy Cập Trong  14 ngày</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- </div> -->
                    </div>
                    <!--/ Total Revenue -->
                    <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                      <div class="row">
                        <div class="col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/static/admin/img/icons/unicons/paypal.png" alt="Credit Card"
                                    class="rounded" />
                                </div>

                              </div>
                              <span class="d-block mb-1">Kịch Bản</span>
                              <h3 class="card-title text-nowrap mb-2">
                                <%= countStory %>
                              </h3>
                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i>kịch bản</small>

                            </div>
                          </div>
                        </div>
                        <div class="col-6 mb-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                  <img src="/static/admin/img/icons/unicons/cc-primary.png" alt="Credit Card"
                                    class="rounded" />
                                </div>
                              </div>
                              <span class="fw-semibold d-block mb-1">Người dùng</span>
                              <h3 class="card-title mb-2">
                                <%= countUser %>
                              </h3>
                              <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> tài
                                khoản</small>
                            </div>
                          </div>
                        </div>
                        <!-- </div>
    <div class="row"> -->
                        <div class="col-12 mb-4">
                          <div class="card h-100">
                            <div class="card-header d-flex align-items-center justify-content-between">
                              <h5 class="card-title m-0 me-2">Transactions</h5>
                              <div class="dropdown">
                                <button class="btn p-0" type="button" id="transactionID" data-bs-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                  <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                  <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                  <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <ul class="p-0 m-0">
                                <li class="d-flex mb-4 pb-1">
                                  <div class="avatar flex-shrink-0 me-3">
                                    <img src="/static/admin/img/icons/unicons/paypal.png" alt="User" class="rounded" />
                                  </div>
                                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                      <small class="text-muted d-block mb-1">Paypal</small>
                                      <h6 class="mb-0">Send money</h6>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                      <h6 class="mb-0">+82.6</h6>
                                      <span class="text-muted">USD</span>
                                    </div>
                                  </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                  <div class="avatar flex-shrink-0 me-3">
                                    <img src="/static/admin/img/icons/unicons/wallet.png" alt="User" class="rounded" />
                                  </div>
                                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                      <small class="text-muted d-block mb-1">Wallet</small>
                                      <h6 class="mb-0">Mac'D</h6>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                      <h6 class="mb-0">+270.69</h6>
                                      <span class="text-muted">USD</span>
                                    </div>
                                  </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                  <div class="avatar flex-shrink-0 me-3">
                                    <img src="/static/admin/img/icons/unicons/chart.png" alt="User" class="rounded" />
                                  </div>
                                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                      <small class="text-muted d-block mb-1">Transfer</small>
                                      <h6 class="mb-0">Refund</h6>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                      <h6 class="mb-0">+637.91</h6>
                                      <span class="text-muted">USD</span>
                                    </div>
                                  </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                  <div class="avatar flex-shrink-0 me-3">
                                    <img src="/static/admin/img/icons/unicons/cc-success.png" alt="User"
                                      class="rounded" />
                                  </div>
                                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                      <small class="text-muted d-block mb-1">Credit Card</small>
                                      <h6 class="mb-0">Ordered Food</h6>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                      <h6 class="mb-0">-838.71</h6>
                                      <span class="text-muted">USD</span>
                                    </div>
                                  </div>
                                </li>
                                <li class="d-flex mb-4 pb-1">
                                  <div class="avatar flex-shrink-0 me-3">
                                    <img src="/static/admin/img/icons/unicons/wallet.png" alt="User" class="rounded" />
                                  </div>
                                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                      <small class="text-muted d-block mb-1">Wallet</small>
                                      <h6 class="mb-0">Starbucks</h6>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                      <h6 class="mb-0">+203.33</h6>
                                      <span class="text-muted">USD</span>
                                    </div>
                                  </div>
                                </li>
                                <li class="d-flex">
                                  <div class="avatar flex-shrink-0 me-3">
                                    <img src="/static/admin/img/icons/unicons/cc-warning.png" alt="User"
                                      class="rounded" />
                                  </div>
                                  <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                      <small class="text-muted d-block mb-1">Mastercard</small>
                                      <h6 class="mb-0">Ordered Food</h6>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                      <h6 class="mb-0">-92.45</h6>
                                      <span class="text-muted">USD</span>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- / Content -->
                <script>
                  var actives = <%- JSON.stringify(actives) %>            
                  console.log(actives);
               </script>
                <%- include('layout/footer'); %>
                  <%- include('layout/script'); %>
                    <script>
                      
                      let cardColor, headingColor, axisColor, shadeColor, borderColor;

                      cardColor = config.colors.white;
                      headingColor = config.colors.headingColor;
                      axisColor = config.colors.axisColor;
                      borderColor = config.colors.borderColor;
                      const incomeChartEl = document.querySelector('#incomeChart'),
                        incomeChartConfig = {
                          series: [
                            {
                              data: [...actives].map(item=>item.count)
                            }
                          ],
                          chart: {
                            height: 400,
                            parentHeightOffset: 0,
                            parentWidthOffset: 0,
                            toolbar: {
                              show: false
                            },
                            type: 'area'
                          },
                          dataLabels: {
                            enabled: false
                          },
                          stroke: {
                            width: 2,
                            curve: 'smooth'
                          },
                          legend: {
                            show: false
                          },
                          markers: {
                            size: 6,
                            colors: 'transparent',
                            strokeColors: 'transparent',
                            strokeWidth: 4,
                            discrete: [
                              {
                                fillColor: config.colors.white,
                                seriesIndex: 0,
                                dataPointIndex: 4,
                                strokeColor: config.colors.primary,
                                strokeWidth: 2,
                                size: 6,
                                radius: 8
                              }
                            ],
                            hover: {
                              size: 2
                            }
                          },
                          colors: [config.colors.primary],
                          fill: {
                            type: 'gradient',
                            gradient: {
                              shade: shadeColor,
                              shadeIntensity: 0.6,
                              opacityFrom: 0.5,
                              opacityTo: 0.25,
                              stops: [0, 95, 100]
                            }
                          },
                          grid: {
                            borderColor: borderColor,
                            strokeDashArray: 3,
                            padding: {
                              top: -20,
                              bottom: -8,
                              left: -10,
                              right: 8
                            }
                          },
                          xaxis: {
                            categories:  [...actives].map(item=> new Date(item.time).toLocaleDateString("vi")),
                            axisBorder: {
                              show: false
                            },
                            axisTicks: {
                              show: false
                            },
                            labels: {
                              show: true,
                              style: {
                                fontSize: '13px',
                                colors: axisColor
                              }
                            }
                          },
                          yaxis: {
                            labels: {
                              show: false
                            },
                            min: 10,
                            max: 500,
                            tickAmount: 4
                          }
                        };
                      if (typeof incomeChartEl !== undefined && incomeChartEl !== null) {
                        const incomeChart = new ApexCharts(incomeChartEl, incomeChartConfig);
                        incomeChart.render();
                      }
                    </script>