<%- include ('layout/head') %>
	<%- include ('layout/header') %>

		<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
		<div class="theme-inner-banner">
			<div class="container">
				<h2 class="intro-title text-center">About Company</h2>
				<ul class="page-breadcrumb style-none d-flex justify-content-center">
					<li><a href="/">Home</a></li>
					<li class="/about">About us</li>
				</ul>
			</div>
			<img src="/static/site/images/shape/shape_38.svg" alt="" class="shapes shape-one">
			<img src="/static/site/images/shape/shape_39.svg" alt="" class="shapes shape-two">
		</div> <!-- /.theme-inner-banner -->



		<!-- 
			=============================================
				Feature Section Two
			============================================== 
			-->
		<div class="fancy-feature-two position-relative mt-140 lg-mt-100">
			<div class="container">
				<div class="row">
					<div class="col-xxl-5 col-lg-6 col-md-7 ms-auto">
						<div class="block-style-two" data-aos="fade-left">
							<div class="title-style-one">
								<div class="sc-title-four">WHO WE ARE</div>
								<h2 class="main-title">Sinh Viên EPU. </h2>
							</div> <!-- /.title-style-one -->
							<p class="pt-10 pb-20 lg-pb-10">SV D14CNPM1</p>
							<ul class="style-none list-item color-rev">
								<li>....</li>
								<li>Năng Động</li>
								<li>Sáng Tạo</li>
								<li>Chăm Chỉ</li>
							</ul>
							<a href="/contact" class="btn-one mt-30">Liên Hệ</a>
						</div> <!-- /.block-style-two -->
					</div>
				</div>
			</div> <!-- /.container -->
			<div class="illustration-holder-two sm-mt-40">
				<img src="/static/site/images/assets/ils_05.svg" alt="" class="main-illustration w-100">
				<img src="/static/site/images/assets/ils_05_1.svg" alt="" class="shapes shape-one">
				<img src="/static/site/images/assets/ils_05_2.svg" alt="" class="shapes shape-two" data-aos="fade-up"
					data-aos-anchor=".fancy-feature-two" data-aos-delay="100" data-aos-duration="2000">
				<img src="/static/site/images/assets/ils_05_3.svg" alt="" class="shapes shape-three" data-aos="fade-up"
					data-aos-anchor=".fancy-feature-two" data-aos-delay="150" data-aos-duration="2000">
				<img src="/static/site/images/assets/ils_05_4.svg" alt="" class="shapes shape-four">
				<img src="/static/site/images/assets/ils_05_5.svg" alt="" class="shapes shape-five">
			</div> <!-- /.illustration-holder-two -->
		</div> <!-- /.fancy-feature-two -->



		<!-- 
			=============================================
				Feature Section Twenty Two
			============================================== 
			-->
		<div class="fancy-feature-twentyTwo mt-150 lg-mt-60">
			<div class="container">
				<div class="row gx-xxl-5">
					<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up">
						<div class="block-style-fourteen mt-35">
							<h5>Nodejs</h5>
							<p>hệ thống phần mềm được thiết kế để viết các ứng dụng internet có khả năng mở rộng, đặc
								biệt là máy chủ web</p>
						</div> <!-- /.block-style-fourteen -->
					</div>
					<div class="col-lg-4 col-sm-6 d-flex" data-aos="fade-up" data-aos-delay="100">
						<div class="block-style-fourteen mt-35">
							<h5>Expressjs</h5>
							<p>một khung ứng dụng web back end cho Node.js, được phát hành dưới dạng phần mềm mã nguồn
								mở và miễn phí.Nó được thiết kế để xây dựng các ứng dụng web và API. Nó đã được gọi là
								khung máy chủ tiêu chuẩn trên thực tế cho Node.js</p>
						</div> <!-- /.block-style-fourteen -->
					</div>
					<div class="col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
						<div class="block-style-fourteen mt-35">
							<h5>NLP.js</h5>
							<p>NLP.js là một thư viện hiểu ngôn ngữ tự nhiên (NLU) mã nguồn mở với các tính năng như
								trích xuất thực thể, phân tích tình cảm và phát hiện ngôn ngữ</p>
						</div> <!-- /.block-style-fourteen -->
					</div>
				</div>
			</div>
		</div> <!-- /.fancy-feature-twentyTwo -->




		<!--
			=====================================================
				Counter Section One
			=====================================================
			-->
		<div class="counter-section-one">
			<div class="inner-container bg-color style-two rounded-0 w-100">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-4 col-sm-6" data-aos="fade-up">
							<div class="counter-block-one text-center mb-20">
								<div class="main-count"><span class="counter">20</span>K</div>
								<p>Người Dùng <br></p>
							</div> <!-- /.counter-block-one -->
						</div>
						<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="100">
							<div class="counter-block-one text-center mb-20">
								<div class="main-count"><span class="counter">13</span>K</div>
								<p>Tiếp Tục Dùng</p>
							</div> <!-- /.counter-block-one -->
						</div>
						<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
							<div class="counter-block-one text-center mb-20">
								<div class="main-count"><span class="counter">15</span>K</div>
								<p>Người Dùng Mới</p>
							</div> <!-- /.counter-block-one -->
						</div>
					</div>
				</div>
				<img src="/static/site/images/shape/shape_40.svg" alt="" class="shapes shape-three">
				<img src="/static/site/images/shape/shape_41.svg" alt="" class="shapes shape-four">
			</div> <!-- /.inner-container -->
		</div> <!-- /.counter-section-one -->



		<!-- 
			=============================================
				Feature Section Five
			============================================== 
			-->

		<!--
			=====================================================
				Team Section One
			=====================================================
			-->
		<div class="team-section-one mt-110 pt-110 pb-170 lg-mt-80 lg-pt-80 lg-pb-80">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-sm-6">
						<div class="title-style-one text-center text-sm-start xs-pb-20" data-aos="fade-right">
							<div class="sc-title-four">OUR TEAM</div>
							<h2 class="main-title">Our Members</h2>
						</div> <!-- /.title-style-one -->
					</div>

				</div>

			</div>
			<img src="/static/site/images/shape/shape_42.svg" alt="" class="shapes shape-one">
			<img src="/static/site/images/shape/shape_43.svg" alt="" class="shapes shape-two">
		</div> <!-- /.team-section-one -->



		<!--
			=====================================================
				Feedback Slider Three
			=====================================================
			-->
		<div class="feedback-section-three style-two mt-150 lg-mt-90" data-aos="fade-up">
			<div class="container">
				<div class="slider-wrapper">
					<div class="feedback_slider_three">
						<% for( let user of users ) { %>
							<div class="item">
								<div class="feedback-block-three d-md-flex align-items-center">
									<div class="img-meta">
										<img src="/static/images/<%= user?.avatar %>" alt="">
										<!-- <img src="/static/site/images/media/img_05.jpg" alt=""> -->
									</div>
									<div class="text-wrapper mb-50">
										<div class="icon d-flex justify-content-center align-items-center">
											<img src="/static/site/images/icon/icon_15.svg" alt="">
										</div>
										<p>SV D14CNPM1 EPU</p>
										<div class="name">
											<h6>
												<%= user?.first_name +" "+user?.last_name%></h6>
											<span><%= user?.email %></span>
										</div> <!-- /.name -->
									</div> <!-- /.text-wrapper -->
								</div> <!-- /.feedback-block-three -->
							</div>
							<% } %>


					</div> <!-- /.feedback_slider_three -->
				</div> <!-- /.slider-wrapper -->
			</div> <!-- /.container -->
		</div> <!-- /.feedback-section-three -->



		<!--
			=====================================================
				Address Section One
			=====================================================
			-->


		<!--
			=====================================================
				Footer
			=====================================================
			-->
		<%- include ('layout/footer') %>