<%- include ('layout/head') %>
	<%- include ('layout/header') %>
		<!-- 
			=============================================
				Theme Hero Banner
			============================================== 
			-->
		<div class="hero-banner-five">
			<div class="container">
				<div class="row">
					<div class="col-xxl-6 col-md-7">
						<h1 class="hero-heading">ChatBot For Me</h1>
						<p class="text-lg mb-50 pt-40 pe-xl-5 md-pt-30 md-mb-40">Mạnh Mẽ, Nhanh Chóng, Tối Ưu, dễ sử
							dụng</p>
						<ul class="style-none button-group d-flex align-items-center">
							<li class="me-4"><a href="/chat" class="demo-btn ripple-btn tran3s">Dùng Thử</a></li>
						</ul>
					</div>
				</div>
			</div> <!-- /.container -->
			<div class="illustration-holder">
				<img src="/static/site/images/assets/ils_13.svg" alt="" class="main-illustration ms-auto">
				<img src="/static/site/images/assets/ils_13_1.svg" alt="" class="shapes shape-one">
				<img src="/static/site/images/assets/ils_13_2.svg" alt="" class="shapes shape-two" data-aos="fade-down">
				<img src="/static/site/images/assets/ils_13_2.svg" alt="" class="shapes shape-three"
					data-aos="fade-down">
			</div> <!-- /.illustration-holder -->
			<div class="shapes oval-one"></div>
		</div> <!-- /.hero-banner-five -->




		<!-- 
			=============================================
				Feature Section Seventeen
			============================================== 
			-->
		<div class="fancy-feature-seventeen position-relative mt-160 xl-mt-50">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-5" data-aos="fade-right">
						<div class="title-style-three text-center text-lg-start">
							<h2 class="main-title"><span>Dịch Vụ</span> Chất Lượng.</h2>
						</div> <!-- /.title-style-three -->
					</div>
					<div class="col-xl-6 col-lg-7" data-aos="fade-left">
						<p class="m0 text-center text-lg-start md-pt-30">Sử dụng NLP , phân loại ngữ nghĩa ....</p>
					</div>
				</div>

				<div class="row justify-content-center pt-30">
					<div class="col-lg-4 col-md-6" data-aos="fade-right">
						<div class="block-style-twelve mt-30 ps-lg-0 pe-xl-5 me-xl-2">
							<div class="icon d-flex align-items-end"><img src="/static/site/images/icon/icon_31.svg"
									alt=""></div>
							<h5><a href="#">Data Science</a></h5>
							<p>Chuyển đổi và thu thập dữ liệu.</p>
							<a href="#" class="tran3s more-btn"><img src="/static/site/images/icon/icon_20.svg"
									alt=""></a>
						</div> <!-- /.block-style-twelve -->
					</div> <!-- /.item -->
					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="block-style-twelve mt-30 active">
							<div class="icon d-flex align-items-end"><img src="/static/site/images/icon/icon_32.svg"
									alt=""></div>
							<h5><a href="#">Hỗ Trợ Khách Hàng</a></h5>
							<p>Hỗ trợ tư vấn khách hàng.</p>
							<a href="#" class="tran3s more-btn"><img src="/static/site/images/icon/icon_20.svg"
									alt=""></a>
						</div> <!-- /.block-style-twelve -->
					</div> <!-- /.item -->
					<div class="col-lg-4 col-md-6" data-aos="fade-left">
						<div class="block-style-twelve mt-30">
							<div class="icon d-flex align-items-end"><img src="/static/site/images/icon/icon_33.svg"
									alt=""></div>
							<h5><a href="#">Machine Learning</a></h5>
							<p>Chuyển đổi dữ liệu số cho máy học.</p>
							<a href="#" class="tran3s more-btn"><img src="/static/site/images/icon/icon_20.svg"
									alt=""></a>
						</div> <!-- /.block-style-twelve -->
					</div> <!-- /.item -->
				</div>
			</div> <!-- /.container -->
			<div class="shapes shape-one"></div>
		</div> <!-- /.fancy-feature-seventeen -->



		<!-- 
			=============================================
				Feature Section Eighteen
			============================================== 
			-->
		<div class="fancy-feature-eighteen position-relative pt-200 pb-225 lg-pt-130 md-pt-100 xl-pb-150 lg-pb-100">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 col-md-7 ms-auto">
						<div class="block-style-two" data-aos="fade-left">
							<div class="title-style-three">
								<div class="sc-title">Over 150k+ Client</div>
								<h2 class="main-title">Chatbot for everywhere</h2>
							</div> <!-- /.title-style-three -->
							<p class="pt-20 pb-25 lg-pb-20">AI but very fun and chill.</p>
							<ul class="style-none list-item color-rev">
								<li>Phân Tích Dữ Liệu.</li>
								<li>Số Hóa, Tối Ưu.</li>
								<li>Đơn giản, dễ dùng.</li>
							</ul>
							<a href="/about" class="btn-eight mt-50 lg-mt-30">Về chúng tôi</a>
						</div> <!-- /.block-style-two -->
					</div>
				</div>
			</div> <!-- /.container -->
			<div class="illustration-holder" data-aos="fade-right">
				<img src="/static/site/images/assets/ils_14.svg" alt="" class="w-100 main-illustration">
				<img src="/static/site/images/assets/ils_14_1.svg" alt="" class="shapes shape-one" data-aos="fade-down">
				<img src="/static/site/images/assets/ils_14_2.svg" alt="" class="shapes shape-two" data-aos="fade-down"
					data-aos-delay="100">
				<img src="/static/site/images/assets/ils_14_3.svg" alt="" class="shapes shape-three"
					data-aos="fade-down" data-aos-delay="200">
				<img src="/static/site/images/assets/ils_14_4.svg" alt="" class="shapes shape-four">
				<img src="/static/site/images/assets/ils_14_5.svg" alt="" class="shapes shape-five">
				<img src="/static/site/images/assets/ils_14_6.svg" alt="" class="shapes shape-six">
				<img src="/static/site/images/assets/ils_14_7.svg" alt="" class="shapes shape-seven">
			</div> <!-- /.illustration-holder -->
			<div class="shapes oval-one"></div>
			<div class="shapes oval-two"></div>
			<div class="shapes oval-three"></div>
		</div> <!-- /.fancy-feature-eighteen -->



		<!-- 
			=============================================
				Feature Section Nineteen
			============================================== 
			-->
		<div class="fancy-feature-nineteen position-relative pt-130 lg-pt-80">
			<div class="container">
				<div class="row">
					<div class="col-xxl-5 col-lg-6 col-md-7">
						<div class="block-style-thirteen" data-aos="fade-right">
							<div class="title-style-three pb-15">
								<div class="sc-title">Cơ Chế Hoạt Động</div>
								<h2 class="main-title"><span>process</span> & works.</h2>
							</div> <!-- /.title-style-three -->
							<ul class="style-none list-item">
								<li data-aos="fade-up">
									<div class="numb tran3s">1</div>
									<h6>Thu thập dữ liệu</h6>
									<span>Quá trình thu thập và đo lường thông tin về các biến được nhắm mục tiêu trong
										một hệ thống đã được thiết lập </span>
								</li>
								<li data-aos="fade-up" data-aos-delay="50">
									<div class="numb tran3s">2</div>
									<h6>Xử Lý Dữ Liệu</h6>
									<span>Chuyển dữ liệu thành thông tin có thể sử dụng được.</span>
								</li>
								<li data-aos="fade-up" data-aos-delay="100">
									<div class="numb tran3s">3</div>
									<h6>Train Model</h6>
									<span>Tiến hành cho máy học.</span>
								</li>
							</ul>
						</div> <!-- /.block-style-thirteen -->
					</div>
				</div>
			</div> <!-- /.container -->
			<div class="illustration-holder" data-aos="fade-left">
				<img src="/static/site/images/assets/ils_15.svg" alt="" class="w-100 main-illustration">
				<img src="/static/site/images/assets/ils_15_1.svg" alt="" class="shapes shape-one">
				<img src="/static/site/images/assets/ils_15_2.svg" alt="" class="shapes shape-two">
				<img src="/static/site/images/assets/ils_15_3.svg" alt="" class="shapes shape-three">
				<img src="/static/site/images/assets/ils_15_4.svg" alt="" class="shapes shape-four">
				<img src="/static/site/images/assets/ils_15_5.svg" alt="" class="shapes shape-five" data-aos="fade-down"
					data-aos-delay="200" data-aos-duration="2000">
				<img src="/static/site/images/assets/ils_15_6.svg" alt="" class="shapes shape-six" data-aos="fade-down"
					data-aos-delay="100" data-aos-duration="2000">
				<img src="/static/site/images/assets/ils_15_7.svg" alt="" class="shapes shape-seven"
					data-aos="fade-down" data-aos-duration="2000">
			</div> <!-- /.illustration-holder -->
			<div class="shapes oval-one"></div>
			<div class="shapes oval-two"></div>
			<img src="/static/site/images/shape/shape_35.svg" alt="" class="shapes bg-shape">
		</div> <!-- /.fancy-feature-nineteen -->




		<!--
			=====================================================
				Counter Section One
			=====================================================
			-->
		<div class="counter-section-one mt-140 lg-mt-100">
			<div class="container">
				<div class="inner-container bg-color">
					<div class="row justify-content-center">
						<div class="col-md-4 col-sm-6" data-aos="fade-up">
							<div class="counter-block-one text-center mb-20">
								<div class="main-count"><span class="counter">20</span>K</div>
								<p>Người Dùng <br> </p>
							</div> <!-- /.counter-block-one -->
						</div>
						<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="100">
							<div class="counter-block-one text-center mb-20">
								<div class="main-count"><span class="counter">13</span>K</div>
								<p>Tiếp Tục Dùng</p>
							</div> <!-- /.counter-block-one -->
						</div>
						<div class="col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="200">
							<div class="counter-block-one text-center mb-20">
								<div class="main-count"><span class="counter">15</span>K</div>
								<p>Người Dùng Mới</p>
							</div> <!-- /.counter-block-one -->
						</div>
					</div>
				</div> <!-- /.inner-container -->
			</div>
		</div> <!-- /.counter-section-one -->




		<!--
			=====================================================
				Feedback Slider Four
			=====================================================
			-->
		<div class="feedback-section-five pt-130 lg-pt-100 pb-95 lg-pb-40">
			<div class="container">
				<div class="title-style-three text-center" data-aos="fade-up">
					<div class="sc-title">Phản Hồi</div>
					<h2 class="main-title">Phản Hồi Của Khách Hàng</h2>
				</div> <!-- /.title-style-three -->

				<div class="feedback_slider_four pt-70 lg-pt-50" data-aos="fade-up">
					<% for( review of reviews ) { %>
						<div class="item">
							<div class="row">
								<div class="col-xxl-9 col-xl-10 col-lg-8 m-auto">
									<div class="feedback-block-four mb-80 ms-xxl-4 me-xxl-4">
										<img src="/static/images/<%= review?.avatar %>" width="100px" alt="" class="m-auto">
										<p><%= review?.content %> </p>
										<div class="cp-info">
											<h6><%= review?.fullname %></h6>
										</div>
									</div> <!-- /.feedback-block-four -->
								</div>
							</div>
						</div>
						<% } %>


				</div> <!-- /.feedback_slider_four -->
			</div>

		</div> <!-- /.feedback-section-five -->



		<!--
			=====================================================
				Feature Section Twenty
			=====================================================
			-->



		<!--
			=====================================================
				Feature Section Twenty One
			=====================================================
			-->
		<div class="fancy-feature-twentyOne mt-200 pb-100 lg-mt-120 lg-pb-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7 ms-auto">
						<div class="block-style-five ps-xxl-5" data-aos="fade-left">
							<div class="title-style-three">
								<div class="sc-title">Liên Hệ</div>
								<h2 class="main-title">Bắt đầu sử dụng thử</h2>
							</div> <!-- /.title-style-three -->
							<p class="pt-20 pb-15">Nếu bạn có câu hỏi hãy liên hệ để chúng tôi hỗ trợ bạn</p>
							<a href="/contact" class="btn-eight ripple-btn">Send Message</a>
						</div> <!-- /.block-style-five -->
					</div>
				</div>
			</div>
			<div class="illustration-holder" data-aos="fade-right">
				<img src="/static/site/images/assets/ils_16.svg" alt="" class="w-100 main-illustration">
			</div> <!-- /.illustration-holder -->
			<img src="/static/site/images/shape/shape_37.svg" alt="" class="shapes shape-one">
			<div class="shapes oval-one"></div>
			<div class="shapes oval-two"></div>
		</div> <!-- /.fancy-feature-twentyOne -->




		<!--
			=====================================================
				Footer
			=====================================================
			-->
		<%- include ('layout/footer') %>